/* Common Style */

body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
.primary-btn{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
}
button a{
    color: #fff;
}


/* nav related style */

nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}
.site-title a{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.logo{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li > a{
    color: #474747;
}

/* header style*/

.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-width: 600px;
}

.banner-greating{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 80px;
}

.banner-des{
    color: #757575;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}

.contact-btn{
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    padding: 18px 25px;
    font-size: 20px;
    font-weight: 700;
}
#cntc-btn{
    color: #FD6E0A;
}

.profile-pic{
    width: 500px;
}

/* Main Section */

main{
    max-width: 1120px;
    margin: 0 auto;
}
main section{
    margin: 100px 0px;
}


/* About Section */

.about{
    max-height: 550px;
    border-radius: 10px;
    background: #FFF8F3;
    text-align: center;
    padding: 120px;
    /* margin: 100px 0px; */
}

.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    max-width: 827px;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.info-title{
    font-weight: 400;
    color: #757575;
}

.info-description{
    font-weight: 600;
    color: #474747;
}

.what-do{
    text-align: center;
}

#what-i-do-description{
    padding: 0px 120px;
}

.skill-container{
    display: flex;
    text-align: left;
}
.skill{
    max-width: 267px;
    gap: 25px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill img{
    padding: 30px 30px 0px 30px;
}

.skill-title{
    padding: 0px 30px;
}
.skill-description{
    padding: 0px 33px 33px 33px;
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}

/* Resume Style  */

.resume-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.resume-container{
    display: flex;
    gap: 75px;
}
.resume-container h3{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.degree{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
}

.institute{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}

.resume-description{
    color: #757575;
    line-height: 28px;
}

.resume-column hr{
    margin: 30px 0px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.download-cv button{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
}
