/* Common Style */

body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
.primary-btn{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
}
button a{
    color: #fff;
}


/* nav related style */

nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}
.site-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.logo{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li > a{
    color: #474747;
}

/* header style*/

.header{
    background-color: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 200px;
}
.contact-btn{
    background: #FFF8F3;
    border-radius: 5px;
    border: 0px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
}