/* Common Style */

body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
.primary-btn{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
}
li button a{
    color: #fff;
}


/* nav related style */

nav{
    display: flex;
    justify-content: space-between;
}
.site-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.logo{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li > a{
    color: #474747;
}
